<!doctype html>
<html lang="ko">
<head>
  <title>나의 캐릭터 찾기</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="나의 게임 속 캐릭터 찾기, 모바일 엔터테인먼트 미디어. 심리테스트, 콘텐츠 소개, 공유 제공.">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link href="/css/main.css?v=1.1.0" rel="stylesheet">
  <link href="/css/loader.css" rel="stylesheet">
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/neodgm/neodgm.css">
  <script src="/js/jquery-3.6.0.min.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-602f57604539048e"></script>
  <script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3499947765418335" crossorigin="anonymous"></script>
  <%- include('../public/inc/inc_gascript') %>
</head>
<body class="test-body">
  <inside>
  <script>
    var bgnum = '01';
    let count = 0;
    let class_01 = 0;
    let class_02 = 0;
    let class_03 = 0;
    let class_04 = 0;
    let class_05 = 0;
    let class_06 = 0;
    let class_07 = 0;
    let class_08 = 0;
    let class_09 = 0;
    let max;
    let maxObj;
    let mclass;

    $(document).ready(function(){
      $(".question").eq(0).show();

      $(".question button").click(function () {
        if(count < 10){
          $(this).parents(".question").hide();
          $(this).parents(".question").next(".question").fadeIn(750);
          bgnum = Number(bgnum) + 1;
          if(bgnum<10) bgnum = '0' + bgnum;
          $('.bgimg').attr('src',`/img/bg/bg${bgnum}.jpg`);
          count += 1;
        }else{
          $(this).parents(".question").hide();
          $('#loader').show();
          let tmap = [
            {label: 'class_01', value: class_01},
            {label: 'class_02', value: class_02},
            {label: 'class_03', value: class_03},
            {label: 'class_04', value: class_04},
            {label: 'class_05', value: class_05},
            {label: 'class_06', value: class_06},
            {label: 'class_07', value: class_07},
            {label: 'class_08', value: class_08},
            {label: 'class_09', value: class_09}
          ];
          max = Math.max.apply(null, tmap.map(key => key.value));
          maxObj = tmap.find(key => key.value === max);
          mclass = maxObj.label;
          $('#mclass').val(mclass);
          document.main.submit();
          $('.copyright').hide();
          window.setTimeout(function(){
            loaded();
          }, 4000);
        }
      });
    });

    function loaded(){
      $('#ads').fadeIn();
      $('#btnConfirm').fadeIn();
      $('#loader').hide();
    }

    function testClass(list){
      for(var i in list) eval(`class_${list[i]}+= 1`);
    }

    function goResult(){
      location.href="/result?c=" + mclass;
    }
  </script>
  <main>
    <article class="text-white">
      <div style="max-height: 500px; height:90vw;">
      <img class="bgimg" src="/img/bg/bg01.jpg" style="width: 100%; margin-top: -2px;">
      </div>
      <section id="loader" style="display: none;">
        <div class="loader fs-1">
          <span>결</span>
          <span>과</span>&nbsp;
          <span>분</span>
          <span>석</span>&nbsp;
          <span>중</span>
          <span>.</span>
          <span>.</span>
        </div>
      </section>
      <section class="col-12">
        <!--adfit-->
        <!--ins class="kakao_ad_area" style="display:none;" 
        data-ad-unit    = "DAN-69VRAljvdzaJAEJx" 
        data-ad-width   = "320" 
        data-ad-height  = "100"></ins> 
       <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script-->
        <div class="question row" style="display: none;">
          <div></div>
          <div class="col-12">
          <div class="col-12"><span class="fs-4 text-left">Q1. 상대방의 행동이나 말이 나의 심기를 살짝살짝 거슬리게 한다.</span></div><br>
          <button class="col-12" onclick="testClass(['06']);">불편함을 상대에게 바로 어필한다.</button>
          <button class="col-12" onclick="testClass(['01','08','07']);">인내심이 강한 편이라 좀 더 두고 본다.</button>
          <button class="col-12" onclick="testClass(['02','03','04','05','09']);">우선은 참고 기회를 노린다.</button>
          </div>
        </div>
        <div class="question row" style="display: none;">
          <div></div>
          <div class="col-12">
          <div class="col-12"><span class="fs-4 text-left">Q2. 어떤 일이 주어졌을 때 나는 남들보다 앞장서서 실행하는 것을 좋아하는 편이다? </span></div><br>
          <button class="col-12" onclick="testClass(['06','01']);">앞장서서 남들을 주도하는 편이다.</button>
          <button class="col-12" onclick="testClass(['02','04','07','08']);">보조를 하는 것이 더욱 편하고 잘 맞는다.</button>
          <button class="col-12" onclick="testClass(['05','09','03']);">일의 효율을 생각하여 처리할 뿐 신경 쓰지 않는다.</button>
          </div>
        </div>
        <div class="question row" style="display: none;">
          <div></div>
          <div class="col-12">
          <div class="col-12"><span class="fs-4 text-left">Q3. 혼자 여행을 간다고 가정했을 때 나는? </span></div><br>
          <button class="col-12" onclick="testClass(['06']);">혼자 온 여행도 잘 즐기는 편이다.</button>
          <button class="col-12" onclick="testClass(['01','02','08','04','07']);">그래도 나는 여행은 함께 가는 것이 더욱 즐겁다고 생각하는 주의지.</button>
          <button class="col-12" onclick="testClass(['05','09','03']);">잘 맞지 않는 사람과 함께하는 거에 비하면 혼자가 낫지..</button>
          </div>
        </div>
        <div class="question row" style="display: none;">
          <div></div>
          <div class="col-12">
          <div class="col-12"><span class="fs-4 text-left">Q4. 나는 모임에서 주변 사람들을 잘 챙기는 편이다. </span></div><br>
          <button class="col-12" onclick="testClass(['01','07','08']);">섬세하다는 소리도 들을 만큼 나도 모르게 신경을 많이 쓰고 챙기게 된다.</button>
          <button class="col-12">그러고 싶지만 신경을 잘 못쓰는 편이다. </button>
          </div>
        </div>
        <div class="question row" style="display: none;">
          <div></div>
          <div class="col-12">
          <div class="col-12"><span class="fs-4 text-left">Q5. 나는 모여서 같이 머리를 맡대고 정답을 찾는 것보다 혼자서 정답을 찾는 것을 선호하는 편이다. </span></div><br>
          <button class="col-12" onclick="testClass(['06','09','03','05']);">그렇다.</button>
          <button class="col-12" onclick="testClass(['01','02','07','08','04']);">아니다. </button>
          </div>
        </div>
        <div class="question row" style="display: none;">
          <div></div>
          <div class="col-12">
          <div class="col-12"><span class="fs-4 text-left">Q6. 나는 친구에게 선물을 주거나 봉사활동 등을 할 때 행복감을 더 느끼는 편이다. </span></div><br>
          <button class="col-12" onclick="testClass(['07','08']);">줄때 더 행복감을 느낀다.</button>
          <button class="col-12" onclick="testClass();">받을때 더 행복하다.</button>
          </div>
        </div>
        <div class="question row" style="display: none;">
          <div></div>
          <div class="col-12">
          <div class="col-12"><span class="fs-4 text-left">Q7. 팀이나 조직 또는 모임에서 나는 조용하지만 나는 영향력있는 역할을 하는 편이다.</span></div><br>
          <button class="col-12" onclick="testClass(['06','01','03']);">조용하지 않은 것 같다.</button>
          <button class="col-12">그저 그렇다.</button>
          <button class="col-12" onclick="testClass(['04','03','05']);">매우 그렇다.</button>
          </div>
        </div>
        <div class="question row" style="display: none;">
          <div></div>
          <div class="col-12">
          <div class="col-12"><span class="fs-4 text-left">Q8. 과제가 주어졌을 때 나는?</span></div><br>
          <button class="col-12" onclick="testClass(['02','07','06','01']);">우선은 시작하고 부딪히면서 배우고 처리하는것이 더욱 효율적이라고 생각한다.</button>
          <button class="col-12" onclick="testClass(['04','08','09','05']);">분석하는 시간을 갖고 계획적으로 처리하는 편이다.</button>
          </div>
        </div>
        <div class="question row" style="display: none;">
          <div></div>
          <div class="col-12">
          <div class="col-12"><span class="fs-4 text-left">Q9. 나는 좀.. 독특하다는 말이나 싸이코, 돌+i라는 말을 듣는 편이다.</span></div><br>
          <button class="col-12" onclick="testClass(['09']);">음.. 그런말을 꽤 듣는 편이다.</button>
          <button class="col-12" onclick="testClass(['03']);">아닌데..</button>
          </div>
        </div>
        <div class="question row" style="display: none;">
          <div></div>
          <div class="col-12">
          <div class="col-12"><span class="fs-4 text-left">Q10. 나는 성선설과 성악설 중에 고른다면? </span></div><br>
          <button class="col-12" onclick="testClass(['09']);">인간은 원래 악하게 태어난다고 생각한다.</button>
          <button class="col-12">인간의 본성은 착하다고 생각한다.</button>
          </div>
        </div>
        <div class="question row" style="display: none;">
          <div></div>
          <div class="col-12">
          <div class="col-12"><span class="fs-4 text-left">Q11. 마지막으로 나는.. </span></div><br>
          <button class="col-12" onclick="testClass(['01','06']);">나는 함께하면 든든한 사람이고 싶다.</button>
          <button class="col-12" onclick="testClass(['03','02','05']);">나는 빛나는 태양같은 사람이고 싶다.</button>
          <button class="col-12" onclick="testClass(['04','07','08']);">나는 충실하고 성실한 사람이고 싶다.</button>
          </div>
        </div>
      </section>
    </article>
    <iframe name="frSendResult" style="display:none;"></iframe>
    <form id="mainForm" name="main" method="post" target="frSendResult" action="/resultcount">
      <input id="mclass" type="hidden" name="class" value=""/>
    </form>
  </main>
  <footer>
    <button id="btnConfirm" class="btn btn-primary btn-lg fs-3" type="button" onclick="goResult();" style="display: none; width:100%; max-width:100%;">결과 확인하기</button>
    <div id="ads" style="display:none;">
      <%- include('../public/inc/inc_ga_find') %>
    </div>
    <div class="copyright">COPYRIGHT(C) CONTENT AGENCY<br>ALL RIGHTS RESERVED</div></footer>
  </inside>
</body>
</html>
